.commands {
  ul {
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid $gray-900;
    li {
      font-size: 0.8rem;
      padding-right: 1rem;
      padding-bottom: 0.5rem;
      cursor: pointer;
    }
  }
}

.copy-btn {
  position: absolute;
  right: 0.25rem;
  top: 0.25rem;
  color: $color-accent;
}
