<div class="p-3">
    <h2>{{ subject() }}</h2>

    <div class="flex justify-end g-3 p-2">
        <a class="btn btn-error" (click)="remove()">
            <i class="fa-light fa-trash me-1"></i>
            delete
        </a>
        <a class="btn btn-vice" [pem-download]="pem()" filename="{{ subject() }}.crt">
            <i class="fa-light fa-download me-1"></i>
            download
        </a>
        <a class="btn btn-main" [routerLink]="['/keys', subject()]" >
            <i class="fa-light fa-key me-1"></i>
            keys
        </a>
    </div>

    <div>
        <ul class="header-tabs">
            <li [ngClass]="{ active: tab() == 'info' }" (click)="tab.set('info')">
                <i class="fa-solid fa-file-certificate mr-2"></i>
                info
            </li>
            <li [ngClass]="{ active: tab() == 'pem' }" (click)="tab.set('pem')">
                <i class="fa-solid fa-code mr-2"></i>
                pem
            </li>
        </ul>
    </div>

    <div class="pos-relative bg-gray-900 p-2 br-5">
        @switch (tab()) { @case ('info') {
        <a
            [cdkCopyToClipboard]="info()"
            matTooltip="copy"
            class="pos-absolute"
            style="right: 1rem; top: 1rem"
        >
            <i class="fa-light fa-copy fa-2x c-warn"></i>
        </a>
        <pre class="t-sm p-2">{{ info() }}</pre>
        } @case ('pem') {
        <a
            [cdkCopyToClipboard]="pem()"
            matTooltip="copy"
            class="pos-absolute"
            style="right: 1rem; top: 1rem"
        >
            <i class="fa-light fa-copy fa-2x c-warn"></i>
        </a>
        <pre class="t-sm p-2">{{ pem() }}</pre>
        } }
    </div>
</div>
