$counter-height: 50px;

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.counter {
    position: relative;
    width: calc($counter-height * 1.6);
    height: $counter-height;
    overflow: hidden;
    background-color: var(--c-gray-200);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    .value {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1 0 auto;
        font-size: 1.2rem;
    }

    .commands {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .plus,
        .minus {
            height: 50%;
            border: 0;
            width: calc($counter-height / 2);
            padding: 0;
            color: var(--c-gray-600);
            background-color:var(--c-gray-300);
        }
    }
}
