<div class="row">
    <div class="col-12 pt-3">
        <p>lista:</p>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">chiave</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let k of keys$ | async; index as i">
                    <tr [routerLink]="['/keys', k]">
                        <th scope="row">{{i+1}}</th>
                        <td>{{k}}</td>
                    </tr>
                </ng-container>

            </tbody>
        </table>
    </div>
</div>
