.pos-relative {
  position: relative !important;
}

.pos-absolute {
  position: absolute !important;
}

.pos-fixed {
  position: fixed !important;
}

.pos-static {
  position: static !important;
}

.pos-sticky {
  position: sticky !important;
}

