<h1><i class="fa-light fa-certificate t-main me-3"></i> Certificati</h1>

<div class="flex g-3 justify-end p-2" style="border-bottom: 1px solid var(--c-bg-2)">

    <a (click)="addCertificate()" class="btn btn-main">
        <i class="fa-light fa-plus me-1"></i>aggiungi
    </a>

    <a [routerLink]="['/certificates']" class="btn"> <i class="fa-light fa-list me-1"></i>lista </a>
    <a class="btn" (click)="reload()"> <i class="fa-light fa-sync me-1" ></i>reload </a>
    
</div>


<router-outlet></router-outlet>
