<div class="setting-box">
    <h4><i class="fa-thin fa-file-arrow-up me-2"></i> Import PKI</h4>
    <p><small>
            Importa una PKI esistente.
            <br>
            Caricare un file .zip che contiene la tipica struttura PKI. Per assicurare la compatibilità è consigliabile utilizzare un file precedentemete scaricato, senza modificarne il contenuto.
        </small></p>

    <div class="drop-area" NgxUploadArea [uploadOptions]="{validExtensions:['zip']}" (add)="fl.add($event)" (error)="onError($event)">
        <p class="text-primary" *ngIf="fl.empty">drop pki archive (or click to select)</p>

        <div class="file-upload-list" NgxUploadList #fl="NgxUploadList" (upload)="fl.markAsUploaded()">
            <ng-container *ngFor="let f of fl.files">
                <div class="pki-zip file-item" [ngxUploadItem]="f" #fitem="ngxUploadItem">
                    <span class="file-icon" >
                        <i class="fa-duotone fa-file-zipper"></i>

                        <span class="file-item-status completed" *ngIf="fitem.completed"><i class="fa-regular fa-check"></i></span>

                        <span class="file-item-status pending" *ngIf="fitem.pending"><i class="fa-regular fa-sync"></i></span>

                        <span class="file-item-status error" *ngIf="fitem.invalid"><i class="fa-regular fa-exclamation-triangle"></i></span>

                        <span class="remove-file" NgxUploadRemove><i class="fa-light fa-times-circle text-danger"></i></span>
                    </span>
                    <span class="file-text">{{f.filename}}</span>
                    <span class="file-text">{{f.file.size/1000}} kB</span>
                </div>
            </ng-container>
        </div>

    </div>

    <div class="actions">
        <button class="btn btn-primary" (click)="import()" [disabled]="fl.empty"><i class="fa-light fa-file-upload me-2"></i>carica</button>
    </div>
</div>
