/* You can add global styles to this file, and also import other style files */
@import "styles/variables";

@import "../node_modules/bootstrap/scss/bootstrap";


@import "styles/scaffolding";


// $fa-font-path: "../lib/webfonts" !default;
@import "../node_modules/@fortawesome/fontawesome-pro/scss/fontawesome.scss";
@import "../node_modules/@fortawesome/fontawesome-pro/scss/regular.scss";
@import "../node_modules/@fortawesome/fontawesome-pro/scss/solid.scss";
@import "../node_modules/@fortawesome/fontawesome-pro/scss/light.scss";
@import "../node_modules/@fortawesome/fontawesome-pro/scss/thin.scss";
@import "../node_modules/@fortawesome/fontawesome-pro/scss/brands.scss";
@import "../node_modules/@fortawesome/fontawesome-pro/scss/duotone.scss";
@import "../node_modules/@fortawesome/fontawesome-pro/scss/_duotone-icons.scss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  background: $bg-color;
  color: $gray-600;

  ul > li {list-style: none;}
}


