.crt-pre {
  background: shade-color($bg-color, 10%);
  padding: 0.5rem;
  font-size: 0.7rem;
  border-radius: 5px;
  padding-right: 3rem;
}

ul.header-tabs {
  width: 100%;
  // padding: 0.5rem 0;
  display: flex;

  li {
    padding: .5rem 3rem;
    // border-top: 1px solid shade-color($bg-color, 10%);
    border-bottom: 2px solid shade-color($bg-color, 10%);
    cursor: pointer;

    &:hover, &.active{
        background: tint-color($bg-color, 5%);
    }

    &.active{
        border-bottom-color: $color-primary;
    }
  }
}
