nav {
  display: flex;
  flex-direction: row;

  @include media-breakpoint-up(sm) {
    flex-direction: column;
  }

  #logo {
    font-size: 3rem;
    padding: 2rem;
    color: $logo-color;
    text-align: center;
  }

  #nav-links {
    ul {
      font-size: 1.25rem;
      display: flex;
      flex-direction: row;
      text-align: center;
      height: 100%;

      @include media-breakpoint-up(sm) {
        flex-direction: column;
        margin-top: 1rem;
      }

      li {
        padding: 2rem;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        border-left: 0 solid $bg-color;
        border-top: 3px solid $bg-color;
        border-color: $bg-color;

        @include media-breakpoint-up(sm) {
            border-left: 3px solid $bg-color;
            border-top: 0 solid $bg-color;
        }


        &.active {
          color: $gray-500;
          border-color: $primary;
          background: tint-color($bg-color, 3%);
        }

        .link-description {
          margin-top: 0.5rem;
          visibility: hidden;
          font-size: 0.7rem;
        }
        &.active .link-description {
          visibility: visible;
        }

        &:hover {
          background: tint-color($bg-color, 3%);
          .link-description {
            visibility: visible;
          }
        }
      }
    }
  }
}
