header {
  display: block;
  width: 100%;
  height: 2rem;
}

#main-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  @include media-breakpoint-up(sm) {
    flex-direction: row;
  }

  #application {
    background: tint-color($bg-color, 3%);
    padding: 2rem;
    width: 100%;
    height: fit-content;
    min-height: 100vh;
    @include media-breakpoint-up(sm) {
      border-top-left-radius: 1rem;
    }
  }
}
