<section id="keys">
    <div class="container">

        <div class="row">
            <div class="col-12">
                <h1 [routerLink]="['/keys']"><i class="fa-light fa-key me-3"></i>Crypto Keys</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="commands">
                    <ul>
                        <li [routerLink]="['/keys']"><i class="fa-light fa-list me-1"></i>lista </li>
                    </ul>
                </div>
            </div>
        </div>

        <router-outlet></router-outlet>
    </div>

</section>
